/* Selector universal, pego los objetos*/
*{
    margin: 0;
    padding: 0;
}

/* Body */ 
body
{   display: grid;
    grid-template-areas:
    "header header header"
    "nav section1 aside"
    "nav section2 aside"
    "footer footer footer";
    grid-template-columns: 0.75fr 4fr 0.75fr;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
    background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
    background-size: cover;
    background-position: center;

}


/* HEADER */

/* Declaro header en grid */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.flexHeader {
    display: inline-flex;
    background-color: lightblue;
}

h1{
    text-align: center;
    font-size: 3rem;
     
}

/* NAV */


nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pruebaDiv
{
    display: flex;
    justify-content: center;
}
.item
{   display: inline-flex;
    background-color: black;
}
.item li {
    font-size: 150%;
    color: white;
}


/* SECTION 1 */
#section1
{   display: flex;
    justify-content: center;
    align-items: center;
    grid-area: section1;
}




/* SECTION 2 */


#section2
{   display: flex;
    justify-content: center;
    align-items: center;
    background-color: blu;
    grid-area: section2;
}
.tituloSection2
{   color: white;
    text-align: center;
    font-size: 3rem;
     
}
.videodivSection
{
    background-color: re;
}



/* ASIDE */
aside
{   display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellw;
    grid-area: aside;
}



/* FOOTER */
footer{
    background-color: gren;
    grid-area: footer;
}



/* En este sector empieza el css de autos.html */





/* Creo una estructura gird para auto.html nueva, modifico la anterior sumandole una tercer etiqueta de section */

#body
{   display: grid;
    grid-template-areas:
    "header header header"
    "nav section1autos aside"
    "nav section2autos aside"
    "nav section3 aside"
    "footer footer footer";
    grid-template-columns: 0.75fr 4fr 0.75fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
    background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
    background-size: cover;
    background-position: center;

}



/* Section 1 autos.html BMW */
#section1autos
{  
    grid-area: section1autos;
  
}

.bmwPadre
{   
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.bmwHijo
{   display: flex;
    background-color: white;
    margin: 0px 5px 0px 0px;
    padding: 1px 1px 1px 1px;
    border: 1px solid black;
}
/* Div Hijos Camionetas.html */
.bmwHijo1{
    display: flex;
    background-color: white;
    margin: 0px 10px 0px 0px;
    padding: 0px 10px 0px 0px;
    border: 1px solid black;
}

.tituloBmw {
 text-align: center;
 color: white;

}



/* Section 2 autos.html AUDI */


#section2autos
{  
    background-color: re;
    grid-area: section2autos;
}
.audiPadre
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.audiHijo{
    background-color: white;
}
.tituloAudi{
    text-align: center;
    color: white;
   }

.audiHijo
{   
  
  
    border: 1px solid black;
}





/* Section 3, Mercedes Benz */

#section3
{ 
    background-color: whit;
    grid-area: section3;
}
.tituloMercedes
{
    text-align: center;
    color: white;
}
.benzPadre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    
}
.benzHijo{
    background-color: white;
    border: 1px solid black;
}
/* Section Camionetas */


/* nosotros.html */
#bodyNosotros
{   display: grid;
    grid-template-areas:
    "header header header"
    "nav section1nosotros aside"
    "nav section2nosotros aside"
    "footer footer footer";
    grid-template-columns: 0.75fr 4fr 0.75fr;
    grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
    background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
    background-size: cover;
    background-position: center;

}

#section1nosotros
{  
    display: flex;
    justify-content: center;
    grid-area: section1nosotros;
  
}

#section2nosotros
{   
    grid-area: section2nosotros;
}


.texto
{
    color: white;
}































/* Contacto.html */

.lepaFresh
{
    color: white;
}
.hijo{
    color:white;
}

label{
    background-color: white;
}



