/* HEADER */
/* Declaro header en grid */
header {
  grid-area: header;
  background-color: black;
}

.flexFlex {
  background-color: black;
  display: flex;
  justify-content: center;
}

.flexHeader {
  display: inline-flex;
  background-color: none;
  background-color: none;
}

.hijoHijo {
  display: flex;
  justify-content: center;
  background-color: none;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
}

h2 {
  color: blue;
  text-align: center;
}

/* SECTION 1 */
#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: section1;
}

/* autos html */
#section1autos {
  grid-area: section1autos;
}

.bmwPadre {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.bmwpadrePadre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bmwHijo {
  display: flex;
  background-color: white;
  margin: 0px 5px 0px 0px;
  padding: 1px 1px 1px 1px;
  border: 1px solid black;
}

/* nosotros.html */
#section1nosotros {
  display: flex;
  justify-content: center;
  grid-area: section1nosotros;
  background-color: ellow;
}

/* contacto .html */
#section1contacto {
  grid-area: section1contacto;
}

.son {
  display: flex;
  justify-content: center;
}

.form-row {
  margin-bottom: 45px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

/* serie3sedan.html */
.section1Indiv {
  grid-area: sectionIndiv;
}

.red {
  display: flex;
  justify-content: center;
}

.imagenAuto {
  height: 70%;
  width: 90%;
}

.textoIndividual {
  color: white;
}

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: section2;
}

.tituloSection2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.videodivSection {
  background-color: re;
}

/* Div Hijos Camionetas.html */
.bmwHijo1 {
  display: flex;
  background-color: white;
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 0px;
  border: 1px solid black;
}

.tituloBmw {
  text-align: center;
  color: white;
}

/* Section 2 autos.html AUDI */
#section2autos {
  grid-area: section2autos;
}

.audiPadre {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.tituloAudi {
  text-align: center;
  color: white;
}

.audiHijo {
  border: 1px solid black;
}

.audipadrePadre {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* contacto.html */
#section2contacto {
  grid-area: section2contacto;
}

#section2nosotros {
  grid-area: section2nosotros;
}

.texto {
  color: white;
}

/* Section 3, Mercedes Benz */
#section3 {
  background-color: whit;
  grid-area: section3;
}

.tituloMercedes {
  text-align: center;
  color: white;
}

.benzPadre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.benzHijo {
  background-color: white;
  border: 1px solid black;
}

.benzpadrePadre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellw;
  grid-area: aside;
  background-color: ink;
}

.reel {
  color: black;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* Contacto.html */
.lepaFresh {
  color: white;
}

.hijo {
  color: white;
}

label {
  background-color: white;
}

.form-row button:hover {
  background-color: #76AEED;
}

/* FOOTER */
footer {
  background-color: none;
  grid-area: footer;
  background-color: black;
  align-self: flex-end;
  width: 100%;
}

.instagram {
  color: white;
  font-size: 20px;
}

.twitter {
  font-size: 20px;
  color: white;
}

/* Nesting o anidamiento w/lepafresh */
/* Selector universal, pego los objetos*/
/* Body */
.index {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: "header header header" "nav section1 aside" "nav section2 aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: auto 2fr 2fr auto;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* En este sector empieza el css de autos.html */
/* Creo una estructura gird para auto.html nueva, modifico la anterior sumandole una tercer etiqueta de section */
#body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: "header header header" "nav section1autos aside" "nav section2autos aside" "nav section3 aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: auto 1.33fr 1.33fr 1.33fr auto;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* en este sector empieza el css del archivo nosotros.html  */
#bodyNosotros {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: "header header header" "nav section1nosotros aside" "nav section2nosotros aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: auto 2fr 1gfr auto;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* contacto.html */
#bodyContacto {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: "header header header" "nav section1contacto aside" "nav section2contacto aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: auto 2fr 0.5fr auto;
}

.speaker-form-header {
  text-align: center;
  background-color: blue;
}

/*# sourceMappingURL=style.css.map */
.autosIndividuales {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: "header header header" "nav sectionIndiv aside" "footer footer footer";
  grid-template-columns: 0.75fr 6fr 0.75fr;
  grid-template-rows: auto 6.5fr auto;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.section1Indiv {
  grid-area: sectionIndiv;
}

/*# sourceMappingURL=style.scss.map */
/* Responsive Autos y camionetas */
@media screen and (max-width: 500px) {
  .paginaPrincipal {
    font-size: 50%;
  }

  .reel {
    font-size: 80%;
  }

  .we {
    height: 300px;
    width: auto;
  }

  .texto {
    font-size: 70%;
  }

  .imagenAuto {
    height: 250px;
    width: auto;
  }
}
@media screen and (min-width: 500px) and (max-width: 968px) {
  .paginaPrincipal {
    font-size: 90%;
  }

  .we {
    height: 400px;
    width: auto;
  }

  .texto {
    font-size: 100%;
  }

  .reel {
    font-size: 90%;
  }
}
@media screen and (min-width: 969px) {
  .reel {
    font-size: 200%;
  }
}
/* exito htlml */
.exitohtml {
  font-size: 2rem;
  color: black;
}

.tickdiv {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
