/* Contacto.html */

.lepaFresh
{
    color: white;
}
.hijo{
    color:white;
}

label{
    background-color: white;
}

.instagram
{
    color: white;
    font-size: 20px;
}

.twitter{
    font-size: 20px;
    color: white;
}
