
/* FOOTER */
footer{
    background-color: none;
    grid-area: footer;
    background-color: black;
    
}

.instagram
{
    color: white;
    font-size: 20px;
}

.twitter{
    font-size: 20px;
    color: white;
}



