
/* FOOTER */
footer{
    background-color: none;
    grid-area: footer;
    background-color: black;
    align-self: flex-end;
    width: 100%;

}

.instagram
{
    color: white;
    font-size: 20px;
}

.twitter{
    font-size: 20px;
    color: white;
}





