/* HEADER */

/* Declaro header en grid */
header{
    display: flex;
    justify-content: center;
    grid-area: header;
}

.flexHeader {
    display: inline-flex;
    background-color: lightblue;
  justify-items: center;

}

h1{
    text-align: center;
    font-size: 3rem;
     
}