/* HEADER */

/* Declaro header en grid */
header{

  grid-area: header;
background-color: black;
}
.flexFlex
{
background-color: black;
display: flex;
justify-content: center;
}



.flexHeader {
  display: inline-flex;
  background-color: none;
background-color: none;
}

.hijoHijo
{
display: flex;
justify-content: center;
background-color: none;

}

h1{
  text-align: center;
  font-size: 3rem;
 color: white;
   
}