/* HEADER */
/* Declaro header en grid */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

.flexHeader {
  display: inline-flex;
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

/* FOOTER */
footer {
  background-color: none;
  grid-area: footer;
}

/* SECTION 1 */
#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: section1;
}

/* autos html */
#section1autos {
  grid-area: section1autos;
}

.bmwPadre {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.bmwHijo {
  display: flex;
  background-color: white;
  margin: 0px 5px 0px 0px;
  padding: 1px 1px 1px 1px;
  border: 1px solid black;
}

#section1nosotros {
  display: flex;
  justify-content: center;
  grid-area: section1nosotros;
}

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: section2;
}

.tituloSection2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.videodivSection {
  background-color: re;
}

/* Div Hijos Camionetas.html */
.bmwHijo1 {
  display: flex;
  background-color: white;
  margin: 0px 10px 0px 0px;
  padding: 0px 10px 0px 0px;
  border: 1px solid black;
}

.tituloBmw {
  text-align: center;
  color: white;
}

/* Section 2 autos.html AUDI */
#section2autos {
  grid-area: section2autos;
}

.audiPadre {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.audiHijo {
  background-color: white;
}

.tituloAudi {
  text-align: center;
  color: white;
}

.audiHijo {
  border: 1px solid black;
}

#section2nosotros {
  grid-area: section2nosotros;
}

/* Section 3, Mercedes Benz */
#section3 {
  background-color: whit;
  grid-area: section3;
}

.tituloMercedes {
  text-align: center;
  color: white;
}

.benzPadre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.benzHijo {
  background-color: white;
  border: 1px solid black;
}

nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pruebaDiv {
  display: flex;
  justify-content: center;
}

.item {
  display: inline-flex;
  background-color: black;
}

.item a {
  color: white;
  font-size: 150%;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellw;
  grid-area: aside;
}

/* Contacto.html */
.lepaFresh {
  color: white;
}

.hijo {
  color: white;
}

label {
  background-color: white;
}

.instagram {
  color: white;
  font-size: 20px;
}

.twitter {
  font-size: 20px;
  color: white;
}

/* Nesting o anidamiento w/lepafresh */
/* Selector universal, pego los objetos*/
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  display: grid;
  grid-template-areas: "header header header" "nav section1 aside" "nav section2 aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-position: center;
}

/* En este sector empieza el css de autos.html */
/* Creo una estructura gird para auto.html nueva, modifico la anterior sumandole una tercer etiqueta de section */
#body {
  display: grid;
  grid-template-areas: "header header header" "nav section1autos aside" "nav section2autos aside" "nav section3 aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-position: center;
}

/* en este sector empieza el css del archivo nosotros.html */
#bodyNosotros {
  display: grid;
  grid-template-areas: "header header header" "nav section1nosotros aside" "nav section2nosotros aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: 0.5fr 1fr 0.3fr 0.5fr;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-position: center;
}

.texto {
  color: white;
}

/*# sourceMappingURL=style.css.map */
.autosIndividuales {
  display: grid;
  grid-template-areas: "header header header" "nav sectionIndiv aside" "footer footer footer";
  grid-template-columns: 0.75fr 4fr 0.75fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  background: url(../imagenes/5cc67fda-d686-4ac5-a34e-a7a7ea6ab261_resized+pic.jog.avif);
  background-size: cover;
  background-position: center;
}

.section1Indiv {
  background-color: blue;
  grid-area: sectionIndiv;
}

.red {
  background-color: black;
  display: flex;
  justify-content: center;
}

.imagenAuto {
  height: 500px;
}

/*# sourceMappingURL=style.scss.map */
